/* Leveraged Paul Irish's border box solution:
http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.cardholder {
  width: 33.33%;
  min-width: 300px;
  float: left;
  padding: 3em;
}

.card {
  border: 2px solid black;
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
}

.card img {
  display: block;
  margin: 1em auto;
  width: 80%;
}

.card h1 {
  text-align: center;
}