/* Leveraged Paul Irish's border box solution:
http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	padding: 0em 2em;
	background-color: lightblue;	
}

.cardholder {
	height: 400px;
  width: 33.33%;
  min-width: 300px;
  float: left;
  padding: 3em;
}

.card {
  border: 2px solid black;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
  background-color: #fff;
}

.card img {
	display: block;
  margin: 1em auto;
}

.card h1 {
  text-align: center;
}