/* GLOBALS */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

body {
	background-color: #444;

}

.app_wrapper {
	background-color: #607242;
	width: 800px;
	margin: 1rem auto 0;
	border-radius: 3px;
	border-right: 5px solid rgba(63, 73, 43, .8);
	border-bottom: 5px solid rgba(63, 73, 43, .8);
	border-left: 5px solid rgba(114, 132, 78, .8);
	border-top: 5px solid rgba(114, 132, 78, .8);
	box-shadow: 3pt 3pt 3pt 2pt #222;
	padding: 1rem;
	
}

.control_panel {
	font-family: 'Black Ops One', sans-serif;
	font-size: 110%;
	width: 35%;
	float: left;
}

.control_module {
	padding: 1rem .75rem;
	border-right: 5px solid rgba(63, 73, 43, .8);
	border-bottom: 5px solid rgba(63, 73, 43, .8);
	border-left: 5px solid rgba(114, 132, 78, .8);
	border-top: 5px solid rgba(114, 132, 78, .8);
	margin-bottom: 1rem;
	box-shadow: 0pt 0pt 0pt 2px rgba(13, 15, 9, .8);
	border-radius: 5px;
}

h1, h2 {
	text-shadow: 2px 2px 0px #322424;
	padding: 0;
	margin: 0;
	color: rgba(221, 183, 23, .9);
}

h1 {
	text-align: left;

}

h2 {
	margin-bottom: .75rem;
}

.radio_wrapper {
	height: 3.5rem;
	padding: 1rem .5rem;
	font-size: 1.9rem;
	line-height: 0;
	background-color: #5e1b18;
	color: #ee4639;
	border-right: 5px solid rgba(51, 15, 13, .8);
	border-bottom: 5px solid rgba(51, 15, 13, .8);
	border-left: 5px solid rgba(238, 70, 57, .8);
	border-top: 5px solid rgba(238, 70, 57, .8);
	box-shadow: 0pt 0pt 0pt 2px #000;
	font-family: 'VT323', monospace;
	line-height: 0;
	margin-bottom: 1rem;
	border-radius: 5px;
}

input[type="radio"] {
	display: inline-block;
}

label:hover, #codeChannel {
	cursor: pointer;
}
#codeChannel, #codeChannel:hover {
	width: 100%;
	height: 3rem;
	font-size: 1.9rem;
	line-height: 0;
	background-color: #5e1b18;
	color: #ee4639;
	border-right: 5px solid rgba(51, 15, 13, .8);
	border-bottom: 5px solid rgba(51, 15, 13, .8);
	border-left: 5px solid rgba(238, 70, 57, .8);
	border-top: 5px solid rgba(238, 70, 57, .8);
	box-shadow: 0pt 0pt 0pt 2px #000;
	font-family: 'VT323', monospace;
}

.screens {
	width: 65%;
	float: left;
	padding-left: 2rem;

}
textarea, #output {
	width: 100%;
	height: 200px;
	outline: none;
}

textarea {
	margin-bottom: 2rem;
	border-right: 7px solid rgba(134, 158, 89, .8);
	border-bottom: 7px solid rgba(134, 158, 89, .8);
	border-left: 7px solid rgba(13, 15, 9, .8);
	border-top: 7px solid rgba(13, 15, 9, .8);
	background-color: #322424;
	border-radius: 7px;
	color: #8cc61a;
	font-family: 'VT323', monospace;
	font-size: 2.5rem;
	padding: 1rem;

}

#output {
	margin-bottom: 1rem;
	border-radius: 7px;
	font-family: 'VT323', monospace;
	font-size: 2.5rem;
	padding: 1rem;
	background-color: #5e1b18;
	border-left: 7px solid rgba(51, 15, 13, .8);
	border-top: 7px solid rgba(51, 15, 13, .8);
	border-right: 7px solid rgba(238, 70, 57, .6);
	border-bottom: 7px solid rgba(238, 70, 57, .6);
	color: #ee4639;
	word-wrap: break-word;
	overflow: auto;
}

.share_buttons {
	width: 100%;
	margin: auto;
	padding-right: 1rem;
}
.button:link, .button:visited {
	display: block;
	margin-left: 2rem;
	width: 30%;
	height: 3rem;
	float: right;
	text-align: center;
	vertical-align: center;
	background-color: rgba(221, 183, 23, .9);
	color: rgba(110, 90, 0, 1);
	border-right: 5px solid rgba(144, 122, 17, .8);
	border-bottom: 5px solid rgba(144, 122, 17, .8);
	border-left: 5px solid rgba(232, 193, 26, .8);
	border-top: 5px solid rgba(232, 193, 26, .8);
	box-shadow: 0pt 0pt 0pt 2px #000;
	font-family: 'Black Ops One', sans-serif;
	font-size: 1.3rem;
	text-decoration: none;
	line-height: 2.5rem;
	border-radius: 5px;
	transition: linear all .1s;
}

.button:hover, .button:focus, .button:active {
	color: #ee4639;
	transition: linear all .1s;
}

.button:active {
	border-right: 2px solid rgba(100, 80, 0, .8);
	border-bottom: 2px solid rgba(100, 80, 0, .8);
	border-left: 2px solid rgba(220, 183, 0, .8);
	border-top: 2px solid rgba(220, 183, 0, .8);
	transition: linear all .1s;
}

footer {
	width: 800px;
	margin: auto;
	text-align: right;
	font-family: 'Black Ops One', sans-serif;
	color: #777;
	font-size: 1rem;

}

footer a:link, footer a:visited {
	color: #777;
	text-decoration: none;
	transition: linear all .05s;
}

footer a:hover, footer a:focus, footer a:active {
	color: #aaa;
	transition: linear all .05s;
}
/* 

font-family: 'Black Ops One', cursive;
font-family: 'VT323', monospace;

orange = #f67033
green = #607242
grey/brown = #5e3a3c
red = #ee4639
light grey = #c7d2ce
blackish = #322424



*/