/* GLOBALS */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

body {
	background-color: #322424;

}

.app_wrapper {
	background-color: #607242;
	width: 800px;
	margin: 3rem auto;
	border-radius: 3px;
	border-right: 5px solid rgba(63, 73, 43, .8);
	border-bottom: 5px solid rgba(63, 73, 43, .8);
	border-left: 5px solid rgba(114, 132, 78, .8);
	border-top: 5px solid rgba(114, 132, 78, .8);
	box-shadow: 0 0 0 3pt #1e2315;
	padding: 1rem;
	
}

.control_panel {
	font-family: 'Black Ops One', sans-serif;
	color: #f67033;
	text-shadow: 2px 2px 0 #322424;
}

textarea {
	width: 400px;
	height: 150px;
}

#output {
	width: 400px;
	height: 150px;
	border: 1px solid red;
	color: red;
}

/* 

font-family: 'Black Ops One', cursive;
font-family: 'VT323', monospace;

orange = #f67033
green = #607242
grey/brown = #5e3a3c
red = #ee4639
light grey = #c7d2ce
blackish = #322424



*/